<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated McpMM -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="McpMM.presentation.McpMMModelWizardID"
            name="%_UI_McpMMModelWizard_label"
            class="McpMM.presentation.McpMMModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/McpMMModelFile.gif">
         <description>%_UI_McpMMModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated McpMM -->
      <editor
            id="McpMM.presentation.McpMMEditorID"
            name="%_UI_McpMMEditor_label"
            icon="icons/full/obj16/McpMMModelFile.gif"
            extensions="mcpmm"
            class="McpMM.presentation.McpMMEditor"
            contributorClass="McpMM.presentation.McpMMActionBarContributor">
      </editor>
   </extension>

</plugin>
